.tw-follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-follow-card-info {
  display: flex;
  flex-direction: column;
}

.tw-follow-card-username {
  opacity: 0.6;
}

.tw-follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-follow-card-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid black;
}

.tw-follow-card-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-follow-card-button:hover {
  opacity: 0.8;
}

.tw-follow-card-button.is-following:hover {
  background-color: rgba(255, 102, 102, 0.13);
  color: red;
  border: 1px solid red;
  transition: 0.3s ease all;
  opacity: 1;
}

.tw-follow-card-button.is-following:hover .twitter-follow-card-stop-follow {
  display: block;
}

.twitter-follow-card-stop-follow {
  display: none;
}

.tw-follow-card-button.is-following:hover .twitter-follow-card-text {
  display: none;
}
