.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.movie {
  text-align: center;
}

.movie h3,
.movie p {
  margin: 4px;
}

.movie img {
  border-radius: 5px;
  margin-top: 10px;
}
