main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
  */

section img {
  max-width: 300px;
  height: auto;
}
